@use 'variables' as *;

body {
  font-family: $font-base;
  font-size: $font-size-base;
  color: $text-primary;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
